pipeline/pipeline2_copy1.json
{
	"name": "pipeline2_copy1",
	"properties": {
		"activities": [
			{
				"name": "LastUpdatedDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(LastUploadedDate)  as LastUploadedDate\nfrom watermarktable\nwhere tablename='FactInternetSales_test'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerOnPrem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MaxUpdatedDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max('2010-12-31 23:40:39.000')maxupateddate\nfrom \n[FactInternetSales_test]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerOnPrem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DFT",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"datasetParameters": {
							"BlobIncSource": {
								"TableName": "FactInternetSales_test"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastUpdatedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MaxUpdatedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from [FactInternetSales_test]\nwhere updateddate >coalesce(\n'@{activity('LastUpdatedDate').output.firstRow.LastUploadedDate}' ,'1900/01/01')\nand updateddate <=\n'@{activity('MaxUpdatedDate').output.firstRow.maxupateddate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerOnPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "FactInternetSales_test_incdata",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TableNameMain",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DFT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[watermarktable_update]",
					"storedProcedureParameters": {
						"lastrun": {
							"value": {
								"value": "@activity('MaxUpdatedDate').output.firstRow.maxupateddate",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@pipeline().parameters.TableNameMain",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerlocal",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableNameMain": {
				"type": "string",
				"defaultValue": "FactInternetSales_test"
			}
		},
		"annotations": []
	}
}